*
{
    Background:linear-gradient(to right,#c077e1f2,#87e24e);
}
.btn1
{
 text-align: center;
 background-color: rgb(240, 255, 23);
 color: rgb(0, 0, 0);
 padding: 20px;
 font-size: 30px;
 border-radius: 50px;
 margin-top: 90px;
 border: none;
 box-shadow: 10px 10px 10px black;
 text-shadow:2px 3px 4px black ;
}
h1
{
    font-weight: bold;
    font-size: 45px;
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
    text-decoration: double;
}